@use "./../abstracts" as abstracts;

.btn {
  background: abstracts.$background-light--opaque;
  border-radius: abstracts.$border-radius;
  text-decoration: none;

  &-control {
    &:link, &:visited {
      font-size: 1.8rem;
      color: abstracts.$font-dark;
      padding: .7rem 1rem;
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
      transition: all 0.3s;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgb(0 0 0 / 25%);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
    }

  }
}